<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body class="">

    <div class="container mx-auto px-4 text-center">

      <h1 class="text-3xl font-bold underline"> Entrez votre message</h1>
      <form action="/" method="post">

        <label class="block">
          <span class="text-gray-700">Additional details</span>
          <textarea name="message" class="mt-1 block w-full" rows="3"></textarea>
        </label>

        <button type="submit" class="mt-2 text-base font-medium rounded-lg p-3 bg-sky-500 text-white hover:bg-sky-600">Envoyer</button>
      </form>

      <% for (message of messages ) { %>
        <div class="mb-2">
          <h1><%= message.content %></h1>
          <p><%= message.created_at %></p>
        </div>
        
      <% } %>
  
    </div>

    

  </body>
</html>
